/*  */


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');


*{margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*------BARRA NAVEGACION------*/

header{ display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(26, 26, 26, 0.95);
    padding-top: 0;
    z-index: 100;
     }


.logo {
    width: 50px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 3px 0px 5px grey;
    margin: 5px 0px 5px 60px;
}

  nav ul {display: flex;
    margin: 0px 60px 0px 0px;
    
}
li{
    list-style: none;
    margin-left: 40px;
}

/*------PRIMERA SECCION------*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px;}

.titulo{
    padding: 30px 0px;
    font-size: 50px;
    text-align: center;
}
 .uno h2{
    font-size: 30px;
    margin-top: 150px;
 }
.uno{
    height: 550px;
    background:url(img/fondo.jpg) fixed  ;
    background-size: cover;
    justify-content: center;
    align-items: center; 
    color: white; 
}

.uno a{
    background-color: rgba(230, 178, 68, 0.9);
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    box-shadow: 5px 5px 5px grey;
    border-radius: 4px;
    margin: 50px;
}
.navegacion a{
    text-decoration: none;
    color: white ;
}





/*------SEGUNDA SECCION------*/


.dos{
    background-color: rgb(151, 151, 151, 0.3);
    padding-top: 80px;
}


.dos p{
    margin: 25px 0px 50px 0px;
}
.dos ul{
    width: 100%;
    display: flex;

}

.subrayado{
    width: 300px ;
    background-color: grey;
    height: 4px;
    border-radius: 5px;

}
.dos i{
    display: block;
    text-align: start;
    margin: 20px 10px 0px 0px;
}

.dos li img{
    width: 70%;
   
}
.futon{
    position: relative;
    left: 150px;
    bottom: 100px;
}

.recuadro{
    height: 100px;
    width: 100px;
    border: solid 6px rgb(150, 150, 150, 0.5);
}
.hamaca{
    height: 50%;
}

.años{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.años h3{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: rgba(153, 111, 57, 0.904);
}
.numberlog{
    font-size: 100px;
    position: relative;
    right: 45px;
    color: rgba(153, 111, 57, 0.904);
    
}

.segundacaja img{
    box-shadow:5px 0px 10px rgb(75, 75, 75) ;
    opacity: 0.9;
}

/*------TERCERA SECCION------*/

 .tres h2{ font-size: 40px;
            color:  rgb(26, 26, 26);
            padding-top: 40px;
            margin-bottom: 45px;

    } 

    .tres p{
        text-align: center;
        font-size: 18px;
    }

    .titulo3{
        display: flex;
        align-items: center;
        
    }
    .secciones ul{
        display: flex;
        justify-content: center;
        margin: 50px 0px 15px 0px;
        padding: 0;
        
    }

    .secciones li{
        padding: 0;
        margin: 0px 40px;
        
    }

    .secciones a{
        text-decoration: none;
        background-color: rgb(249, 224, 187);
        border-radius: 10px;
        color:rgb(26, 26, 26); ;
        padding: 5px 10px;
        box-shadow:5px 0px 10px rgb(75, 75, 75) ;
    }
    .lineacostado{
        width: 70px;
        height: 3px;
        background-color:  rgb(195, 129, 84);
        border: none;
        margin: 0px 20px;
       
        
    }

    .img1{
       height: 75vh;
        margin: 10px;
        box-shadow:5px 0px 10px rgb(75, 75, 75)
        }
    
    
    .img2{
         height: 78.5vh;
         margin: 10px;
         box-shadow:5px 0px 10px rgb(75, 75, 75)
             }

    .caja1{
        width: 900px;
        display: flex;
        justify-content: center;
    }
    .caja2{
        width: 900px;
        display: flex;
        justify-content: center;
    }

    .tres a{
        padding: 8px 30px;
        margin-top: 50px;
        background-color: rgba(230, 178, 68, 0.9);
        border: none;
        box-shadow:5px 0px 10px rgb(75, 75, 75);
        border-radius: 10px;
        color: white;
        text-decoration: none;
    }

    /*------CUARTA SECCION------*/
    .cuatro{
        background-color: rgb(151, 151, 151, 0.3);
       height: 1505px;
      position: relative;
      z-index: -50;
    }

    .perfil{
        width: 270px;
        height: 270px;
    }



    .cuatro ul{
        display: flex;
    }

    .cuatro li {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 15px;
        background-color: white;
        padding: 0px 10px 20px 10px;
        box-shadow:5px 0px 10px rgb(75, 75, 75);
    }

    .cuatro p{
        text-align: center;
        margin-bottom: 20px;
    }
    .titulo4{ font-size: 40px;
        color:  rgb(26, 26, 26);
        padding-top: 40px;
        margin-bottom: 45px;
    }   
    .textocuatro{
        width: 500px;
    }

    .oficio{
        font-weight: 10px;
        text-align: center;
        margin:15px 0px;
    }

    .img4{
        width: 1263px;
        position: relative;
        bottom: 300px;
        z-index: -2;
        
    }

    .cuatro a{
        text-decoration: none;
        background-color: rgba(230, 178, 68, 0.9);
        box-shadow:5px 0px 10px rgb(75, 75, 75);
        padding: 5px 10px;
        color: black;
        border-radius: 5px;
    }

    .contenedor{
        display: flex;
        gap: 70px;
    }

    .caja{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .caja h2{
        font-size: 60px;
        color: transparent;
        -webkit-text-stroke: 1px white;
    }

    .caja h3{
        color: white;
    }



    